.ba-container {
    box-sizing: border-box;
    padding: 75px 60px 40px 60px;
    clear: both;
}
.ba-row > [class*="ba-width-"]{
   float: left;
   margin: 0;

}

.ba-width-1-2 {
    width: 50%;     
}
.ba-width-1-3 {
    width: 33.33333%;
}
.ba-width-1-6 {
    width: 16.66666%;
}