<div id="subscribe-box">
    
    <i id="close-subscribe-box" class="material-icons">close</i>
    
    <div id="subscribe-box-container">
    
    <h1>Subscribe to Respond</h1>
    
    <p>Thank you for subscribing to Respond CMS.  By creating a subscription, you acknowledge the following conditions:</p>
    
    <ul>
        <li>Respond CMS is provided "AS IS", without warranty of any kind, express or implied, 
        including but not limited to the warranties of merchantability, 
        fitness for a particular purpose and noninfringement. In no event shall the 
        authors or copyright holders be liable for any claim, damages or other liability, 
        whether in an action of contract, tort or otherwise, arising from, 
        out of or in connection with the software or the use or other dealings in the
        software.</li>
    </ul>

    <a id="respond-starter" subscribe
 data-name="Respond Subscription - $100/month"
            data-sku="respond-starter"
            data-quantity="1"
            data-price="100"
            data-success-url="page/thank-you.html"
            data-button-label="Subscribe">Subscribe via Credit Card - $100 /month</a>
            
    
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="YZ4FRKF5YDJGC">
    <input type="submit" value="Subscribe via PayPal - $100 / month">
    </form>

    
    </div>
    
</div>