body {
    background-color: gray;
    width: 1600px;
    height: 1600px;
}
div {
    width: 300px;
    height: 120px;
    color: white;
    text-align: center;
    position: absolute;
    
}
.b1 {

    background-color: pink;
    top: 0;
    left: 0;
}
.b2 {
    background-color: blue;
    right: 0;
    top: 0;
}
.b3 {
    background-color: red;
    left: 0;
    bottom: 0;
}
.b4 {

    background-color: green;
    right: 0;
    bottom: 0;
}
